body {
  overflow-y: hidden;
  font-family: "Nunito", sans-serif;
  background: url("./images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 85vh;
  margin-bottom: 50px;
}

.looper {
  display: flex;
  flex-wrap: wrap;
  width: 40vh;
  height: 40vh;
  margin-bottom: 5%;
  background-color: rgb(65, 63, 63);
  padding: 100px;
  border-radius: 18px;
}

.squareOff,
.squareOn {
  flex: 1 0 21%;
  margin: 10px;
}

.squareOff:nth-child(3n + 2) {
  background: #ba68c8;
  border-radius: 8px;
}

.squareOff:nth-child(3n + 1) {
  background: #76ff03;
  border-radius: 8px;
}

.squareOff:nth-child(3n + 0) {
  background: #4fc3f7;
  border-radius: 8px;
}

.squareOn:nth-child(3n + 2) {
  background: #b136c7;
  box-shadow: #ba68c8 0px 2px 70px 1px;
  border-radius: 8px;
}

.squareOn:nth-child(3n + 1) {
  background: #03ff25;
  box-shadow: #76ff03 0px 2px 70px 1px;
  border-radius: 8px;
}

.squareOn:nth-child(3n + 0) {
  background: #1eb1f5;
  box-shadow: #4fc3f7 0px 2px 70px 1px;
  border-radius: 8px;
}

@media screen and (max-width: 650px) {
  .body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .App {
    height: 100vh;
  }
  .looper {
    width: 40vw;
    height: 40vw;
    padding: 10%;
  }
  .squareOff,
  .squareOn {
    margin: 4%;
  }
  .label {
    display: none;
  }
}
